<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="nav.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">MindMatters</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="#">ChatBot</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="#">Games</a>
              </li>
            </ul>
            <form class="container-fluid navBar">
                <button class="btn btn-md btn-warning me-2 navBtn" type="button"><a>Find a Therapist</a></button>
              </form>
          </div>
        </div>
      </nav>
    <div class="row space">
    <div class="profile-container col-3">
        <div class="profile-image">
            <img src="default.jpg" alt="Profile Picture">
        </div>
        <div class="username">
            {{ username }}
        </div>
        <!-- Form for uploading profile picture -->
        <form action="/upload" method="POST" enctype="multipart/form-data" class="back">
            <!-- File input element -->
            <input type="file" id="file-input" name="file">
            <!-- Label for the file input -->
            <label for="file-input" class="upload-btn">Upload Profile Picture</label>
            <!-- Submit button -->
            <button type="submit" style="display: none;"></button>
        </form>
    </div>
    <div class="col-4 sleep">
        <div class="text back">Sleep Analysis</div>
        
        <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
        </div>
        <div class="sleep-in back">hello</div>
    </div>
    <div class="col-3 breathing">
        <div class="breath">
            <div class="text">Breathing Exercise</div>
            <button class="btn btn-lg btn-warning img">Let's Go</button>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-3"></div>
        <div class="col3"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>
